.container{
    display: grid;
    grid-auto-columns: minmax(30rem, auto);
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-gap:1rem;
}
.item {
  color: #a579cc;
  padding: 1rem;
}
.demo-inline-calendar-card {
  width: 300px;
}
