<!DOCTYPE html>
<html>
  <head>
    <!--
      <head> 요소. 이 요소는 페이지를 조회하는 사람들에게 보여주는 콘텐츠가 아닌
      당신이 HTML 페이지에 포함하고 싶어하는 모든 재료들을 위한 컨테이너 역할을 합니다.
      여기에는 keywords (en-US)와 검색 결과에 표시되길 원하는 페이지 설명, 콘텐츠를 꾸미기 위한 CSS, 문자 집합 선언 등과 같은 것들을 포함합니다.
    -->

    <meta charset="utf-8" />
    <!--
      <meta charset="utf-8"> — 이 요소는 문서가 사용해야 할 문자 집합을 인간의 방대한 주류 기록언어에 있는
      대부분의 문자가 포함되어 있는 utf-8으로 설정합니다. 본질적으로 여러분이 사용할 수 있는 어떠한 문자 콘텐츠도 다룰 수 있습니다.
      이 문자 집합을 설정하지 않을 이유가 없으며, 그렇게 설정하면 나중에 발생할 수 있는 일부 문제를 피할 수 있습니다.
    -->

    <meta name="viewport" content="width=device-width" />
    <!--
      뷰포트 요소는 뷰포트의 너비에서 페이지가 렌더링하도록하며,
      모바일 브라우저가 뷰포트보다 넓은 페이지를 렌더링한 후 축소하는 것을 방지합니다.
    -->

    <title>둥근별 점심 고르기 페이지</title>
    <!--
      <title> 요소. 이것은 페이지의 제목을 설정합니다,
      로드된 페이지 브라우저의 탭에 나타나는 제목입니다.
      이 요소는 북마크나 즐겨찾기에서 페이지를 설명하는 것으로도 사용됩니다.
    -->
  </head>

  <body>
    <!--
      <body> 요소. 이것은 페이지에 방문한 모든 웹 사용자들에게 보여주길 원하는 모든 컨텐트를 담고 있으며,
      그것이 텍스트일 수도, 이미지, 비디오, 게임, 플레이할 수 있는 오디오 트랙이나 다른 무엇이든 될 수 있습니다.
    -->

    <!-- 제목을 나타내는 4개의 headging level들-->
    <h1 style="text-align:center">점심 고르기 with h1</h1>
    <h2 style="text-align:left">점심 고르기 with h2</h2>
    <h3 style="text-align:right">점심 고르기 with h3</h3>
    <h4>점심 고르기 with h4</h4>

    <div class="container">
      <div class="item">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>날짜?</mat-card-title>
            <mat-card-subtitle>이건 없어도 될듯</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>This card indeterminates progress bar.</p>
            <p>{{longText}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="item">
        <mat-card>
          <mat-calendar [(selected)]="selected"></mat-calendar>
        </mat-card>
        <p>Selected date: {{selected}}</p>
      </div>

      <div class="item">
        <mat-card>
          <mat-card-header>
            <mat-card-title>오늘 날짜</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>도시락: {{num_dorirock}}</p>
            <p>샐러드: {{num_salad}}</p>
            <p>딴 거: {{num_etc}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <a href="https://www.mozilla.org/" title="새 탭 모질라 링크" target="_blank">A link to my favorite website.</a>

    <input type="number">
    <input type="text" disabled="disabled">
    <img src="../../assets/img/dog01.jpg" width="30%" height="auto">

    <!-- 
      PDF나 비디오 같이 다운로드 되거나 스트리밍 되는 링크에 연결 할 때는 명확히
      표현하여 혼란을 줄어야 합니다.
    -->
    <p><a href="http://www.example.com/large-report.pdf">
      Download the sales report (PDF, 10MB)
    </a></p>

    <!--
      파일 다운로드에 연결 시 기본 저장 파일 이름 지정 가능
    -->
    <a href="https://download.mozilla.org/?product=firefox-39.0-SSL&os=win&lang=en-US"
      download="firefox-39-installer.exe">
      Download Firefox 39 for Windows
    </a>
    
    <!-- description list-->
    <dl>
      <dt>Bacon</dt>
      <dd>The glue that binds the world together.</dd>
      <dt>Eggs</dt>
      <dd>The glue that binds the cake together</dd>
      <dt>Coffee</dt>
      <dd>The drink that gets the wold running in the morning</dd>
    </dl>

    <!-- 인용구 -->
    <!-- -->
    <blockquote cite="The glue that binds the world together.">
      <p>The <strong>HTML <code>&lt;blockquote&gt;</code> Element</strong> (or <em>HTML Bleck Quotation Element</em>) indicates that the enclosed text is an extended quotation.</p>
    </blockquote>

    <!-- Inline quotations -->
    <p>The quote element - <code>&lt;q&gt;</code> - is 
      <q cite="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q">intended
        for shot quotations that don't require paragraph breaks.</q>
    </p>
  </body>
</html>




