<div class="city-edit">
    <h1>{{title}}</h1>
    <p *ngIf="this.id &&!city"><em>Loading</em></p>
    <div [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- Name -->
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" required
                    placeholder="Type a Name">
        </mat-form-field>

        <!-- Lat -->
        <mat-form-field>
            <mat-label>Latitude:</mat-label>
            <input matInput formControlName="lat" required
                    placeholder="Insert latitude">
        </mat-form-field>

        <!-- Lon -->
        <mat-form-field>
            <mat-label>Longitude:</mat-label>
            <input matInput formControlName="lon" required
                    placeholder="Type a Name">
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary"
                type="submit" (click)="onSubmit()">
                {{ this.id ? "Save" : "Create" }}
            </button>
            <button mat-flat-button color="secondary"
                [routerLink]="['/cities']">
                Cancle
            </button>
        </div>

        <!-- Country -->
        <p *ngIf="countries">
            <select id="countryId" formControlName="countryId">
                <option value="">--- Select a country ---</option>
                <option *ngFor="let country of countries" [value]="country.id">
                    {{country.name}}
                </option>
            </select>
        </p>
    </div>
</div>